body{
    background-color: #f4f6f9;
    font-family: Arial, sans-serif;
}

.card{
    border: none;
}

input,
select{
    height: 50px;
    border-radius: 10px !important;
}

button{
    border-radius: 10px !important;
}