<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tributário - QMS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tributario.css')}}">
</head>
<body>

    <div class="layout">
        <aside class="sidebar">
            <div class="sidebar-logo">QMS</div>
            <ul class="nav-links">
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('educacao') }}">Educação</a></li>
                <li><a href="{{ url_for('saude') }}">Saúde</a></li>
                <li class="active"><a href="{{ url_for('tributario') }}">Tributário</a></li>
                <li><a href="{{ url_for('relatorio') }}">Relatório</a></li>
                <br>
                <li><a href="{{ url_for('logout') }}">Sair</a></li>
            </ul>
        </aside>

        <div class="content">
            <h1>Secretaria de Tributação - QMS</h1>

            <h2 class="subtitulo">Atendimento Tributário</h2>

            <div class="cards">
                <div class="card azul">
                    <h2 id="count-aguardando">0</h2>
                    <p>Senhas Aguardando</p>
                </div>

                <div class="card laranja">
                    <h2 id="count-atendimento">0</h2>
                    <p>Em atendimento</p>
                </div>

                <div class="card verde">
                    <h2 id="count-finalizados">0</h2>
                    <p>Finalizados hoje</p>
                </div>
            </div>



            <h3>Serviços do Tributário</h3>
            <div class="servicos">
                <div class="servico">
                    <h4>IPTU</h4>
                    <span id="atend-iptu">0</span>
                    <p>aguardando</p>
                    <small>Última: <span id="ultima-iptu">---</span></small>
                    <button onclick="chamarSenha('iptu')">CHAMAR</button>
                </div>
                <div class="servico">
                    <h4>ISS</h4>
                    <span id="atend-iss">0</span>
                    <p>aguardando</p>
                    <small>Última: <span id="ultima-iss">---</span></small>
                    <button onclick="chamarSenha('iss')">CHAMAR</button>
                </div>
                <div class="servico">
                    <h4>Alvará</h4>
                    <span id="atend-alvara">0</span>
                    <p>aguardando</p>
                    <small>Última: <span id="ultima-alvara">---</span></small>
                    <button onclick="chamarSenha('alvara')">CHAMAR</button>
                </div>
                <div class="servico">
                    <h4>Dívida Ativa</h4>
                    <span id="atend-divida">0</span>
                    <p>aguardando</p>
                    <small>Última: <span id="ultima-divida">---</span></small>
                    <button onclick="chamarSenha('divida')">CHAMAR</button>
                </div>
                <div class="servico">
                    <h4>Certidões</h4>
                    <span id="atend-certidoes">0</span>
                    <p>aguardadndo</p>
                    <small>Última: <span id="ultima-certidoes">---</span></small>
                    <button onclick="chamarSenha('certidoes')">CHAMAR</button>
                </div>
                <div class="servico">
                    <h4>Cadastro Imobiliário</h4>
                    <span id="atend-cadastro">0</span>
                    <p>aguardando</p>
                    <small>Última: <span id="ultima-cadastro">---</span></small>
                    <button onclick="chamarSenha('cadastro')">CHAMAR</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/tributario.js') }}"></script>

</body>
</html>